.feed {
	.img-round {
		width: 40px;
		height: 40px;
		max-width : 40px;
		max-height : 40px;
		background-size: cover;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.list-row-comment {
		.img-round {
			text-align: right;
			width: 32px;
			height: 32px;
			margin: auto;
		}
	}	

	.list-row--first-post {
  	box-shadow: 1px 1px 13px rgba(86, 52, 44, 0.18);
	}

	.card {
		margin: 8px;
	}

	.list-row--has-separator .list-row__secondary:after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 1px;
		width: 57px;
		background-color: rgba(0, 0, 0, 0.12);
	}
	.list-row--has-separator .list-row__secondary:last-child:after {
		display: none;
		height: 0;
	}

	.list-row__action {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: space-around;
	}

	.list-row--has-separator .list-row__action:after {
		width: 100%;
	}

	.list-row__action .btn {
		margin-left: 4px;
	}
}

@media screen and (min-width: 10.11in) {
  .feed {
    padding-left: 272px !important;
    padding-top: 64px;
  }
}