/*
 * Charts styling
 */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.brush {
    fill: #3F51B5;
    opacity: 0.3;
}