//Override Variables in scaffolding.less
//$accent-1-color: $orange-A200;


body {
  //font-size: 12px;
}

.mui-tabs-container .mui-tab-item-container {
  //background-color: $indigo-500;
  position: fixed;
  z-index: 9;
  margin-top: -15px;
}

.mui-tabs-container .mui-tab-template {
  margin: 32px;
}

.search-filter__container {
	background: #fff;
}

.card__actions {
  padding: 8px;
  border-top: 1.5px solid rgba(0,0,0,.12) !important;
  margin-top: -1px;
}