//Override Variables in scaffolding.less
//$accent-1-color: $orange-A200;


body {
   font-size: 12px;
}

.mui-tabs-container .mui-tab-item-container {
  //background-color: $indigo-500;
  position: fixed;
  z-index: 9;
  margin-top: -15px;
}

.mui-tabs-container .mui-tab-template {
  margin: 32px;
}
