
@media screen and (max-width: 6in) {
  section#content section {
    width: 95%;
  }
}

@media screen and (max-width: 6in) {
  body {
    overflow-x: hidden;
  }
  #home #form-wrapper {
    width: 65%
  }

  #home #img-header {
    width: 16%;
  }

  svg#title {
    width: 165%;
    left: -32.5%;
    top: -0%;
  }
}

@media screen and (max-width: 10.1in) {
  #home #form-wrapper {
    width: 36%
  }
}