.main {
  z-index: 2;
  padding: 8px; }

.main.top- {
  padding: 56px 8px; }

.main.top-- {
  padding-top: 104px; }

div.top--, .main.top-- {
  padding-top: 64px; }

.top- {
  padding-top: 56px; }

body {
  color: #212121; }

header.card {
  width: 100%; }

.inline-block {
  display: inline-block; }

.btn.btn--margin {
  margin-right: 4px; }
