<ng-include src="'views/appbar.html'"></ng-include>
<ng-include src="'views/sidebar.html'"></ng-include>
<div flex-container="row" flex-gutter="24" class="main top-- feed">
  <div flex-item ng-repeat="post in feed" >
    <ul class="list mt++ card">
      <li class="list-row list-row--multi-line list-row--first-post">
        <div class="list-row__primary">
            <div class="img-round" style="background-image: url({{post.Person.Avatar.Image.resource}})"/>
        </div>

        <div class="list-row__content">
            <span class="fs-body-1 display-block">{{post.Person.PersonDetails[0].firstname}} {{post.Person.PersonDetails[0].name}}</span>
            <span class="display-block">{{post.createdAt}}</span>
            <span class="display-block fs-body-1 tc-black-2">{{post.content.text}}</span>
            <span ng-show="post.content.video.length">
          		<embed-video>
      				{{post.content.video}}
      			</embed-video>
          	</span>
        </div>
      </li>
      <li ng-repeat="comments in post.Comments" class="list-row list-row--multi-line list-row--has-separator list-row-comment">
          <div class="list-row__primary">
              <div class="img-round" style="background-image: url({{comments.Person.Avatar.Image.resource}})"/>
          </div>

          <div class="list-row__content">
              <span class="display-block">{{comments.Person.PersonDetails[0].firstname}} {{comments.Person.PersonDetails[0].name}}</span>
              <span class="display-block">{{comments.createdAt}}</span>
              <span class="display-block fs-body-1 tc-black-2">{{comments.content.text}}</span>
              </span>
          </div>
          
          <div class="list-row__secondary">
              <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
          </div>
      </li>
      <div class="card__actions">
        <form ng-submit="onCommentSubmit()" method="post">
        <lx-text-field label="{{'ui.feed.text.reply' | translate }}" fixed-label="true" style="width: 88%; display: inline-block">
          <input type="text" ng-model="reply">
        </lx-text-field>
        <button class="btn btn--s btn--blue btn--icon" lx-ripple><i class="mdi mdi-pencil"></i></button>
        </form>
      </div>
    </ul>
  </div>
</div>