<ng-include src="'views/appbar.html'"></ng-include>
<ng-include src="'views/sidebar.html'"></ng-include>
<div flex-container="row" flex-gutter="12" class="feed" flex-wrap>
  <div flex-item="6" class="top--">
    <div style="margin: 8px;">
      <span class="fs-title display-block mb">{{'ui.myfriendwaiting' | translate}}</span>
      <div class="divider divider--dark"></div>
    </div>
    <ul class="list mt++ card">
      <li class="list-row list-row--multi-line list-row--has-separator" ng-repeat="friend in waiting" >
        <div class="list-row__primary">
            <div class="img-round" style="background-image: url({{friend.avatar.resource}})"/>
        </div>

        <div class="list-row__content">
            <span class="display-block">{{friend.firstname}} {{friend.name}}<i class="icon icon--xs icon--grey icon--flat mdi mdi-gender-{{friend.gender}}"></i>
            </span>
            <span class="display-block fs-body-1 tc-black-2">{{friend.age}}</span>
        </div>

        <div class="list-row__secondary">
            <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
        </div>

        <div>
        </div>
      </li>
    </ul>
    <div style="margin: 8px;">
      <span class="fs-title display-block mb">{{'ui.myfriend' | translate}}</span>
      <div class="divider divider--dark"></div>
    </div>
    <ul class="list mt++ card">
      <li class="list-row list-row--multi-line list-row--has-separator" ng-repeat="friend in friends" >
        <div class="list-row__primary">
            <div class="img-round" style="background-image: url({{friend.avatar.resource}})"/>
        </div>

        <div class="list-row__content">
            <span class="display-block">{{friend.firstname}} {{friend.name}}<i class="icon icon--xs icon--grey icon--flat mdi mdi-gender-{{friend.gender}}"></i>
            </span>
            <span class="display-block fs-body-1 tc-black-2">{{friend.age}}</span>
        </div>

        <div class="list-row__secondary">
            <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
        </div>

        <div>
        </div>
      </li>
    </ul>
  </div>
</div>