<hra-overflow>
  <div flex-item>
    <lx-select 
      ng-model="selects.selectedPerson" 
      placeholder="Choose" 
      change="cbSelect.exec(newValue, oldValue)"
      choices="rankingFriendsChoice">
        <lx-select-selected>
            {{ $selected.text }}
        </lx-select-selected>

        <lx-select-choices>
            {{ $choice.text }}
        </lx-select-choices>
    </lx-select>
  </div>
<div flex-container="row" flex-gutter="12" class="feed" flex-wrap >
  <div flex-item="6" ng-repeat="rank in ranking" >
    <ul class="list mt++ card">
      <li class="list-row list-row--multi-line list-row--has-separator">
        <div class="list-row__primary">
            <div class="img-round" style="background-image: url({{rank.friend.avatar}})"></div>
        </div>

        <div class="list-row__content">
            <span class="fs-title display-block">{{rank.friend.firstname}} {{rank.friend.name}}</span>
            <span class="display-block rank-{{rank.pos.css}} rank-content">
              <span>
                <img src="images/rank-{{rank.pos.css}}.png" with="24" height="24" class="fs-body"/>
              </span>
              <span>{{rank.pos.value}}{{rank.pos.text}}</span>
            </span>
            <span ng-repeat="content in rank.ranking" class="fs-body-1 tc-black-2 ranking-content">{{content.text}} {{content.value}}</span>
        </div>

         <div class="list-row__secondary">
              <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
          </div>
      </li>
    </ul>
  </div>
</div>
</hra-overflow>